body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-family: "Roboto", "Arial", sans-serif;
}

.title-slide {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.title-advantages {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
}

.title-template {
 	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;			
}

.title-footer-social {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.title-logo-studio {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
