body {
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
	min-width: 1200px;
}

.slide-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000;
	margin-bottom: 28px;
}

.title-advantages {
	font-size: 24px;
	line-height: 30px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.title-template {
	padding-top: 12px;
 	font-size: 18px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.title-footer-social {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000;
}

.title-logo-studio {
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	padding-top: 8px;
	padding-left: 18px;
	margin-bottom: 25px;
}
.title-shop {
	font-size: 55px;
	line-height: 55px;
	color: #000;
}
.title-studio {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

/* Сетка главной страницы */
.main-header {
	width: 100%;
	min-width: 1200px;
	min-height: 545px;
	background-color: #eee;
}

.main-container {
	width: 1160px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px
}

.main-navigation {
	width: 960px;
	display: inline-block;
}

.index-logo {
	width: 160px;
	display: inline-block;
	margin-top: 50px;
}

.navigation {
	display: inline-block;
	vertical-align: top;
	padding-left: 197px;
	margin-top: 74px;
}

.navigation li {
	display: inline-block;
	vertical-align: top;
	padding-right: 43px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.block-basket {
	max-width: 160px;
	float: right;
	margin-top: 74px;
	padding-left: 42px;
	background-image: url(../img/icon-basket-copy.png);
    background-position: left; 
    background-repeat: no-repeat;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}

.basket:hover {
	color: #fb565a;
}

.basket:active {
	color: #000;
	opacity: 0.3;
}

/* Слайдер */
.slider {
    position: relative;
    width: 1160px;
    height: 424px;
    margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls{
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 7px;
    background: white;
    border: 4px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: #c1c1c1;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text{
    width: 520px;
    padding: 70px 0;
    color: #283136;
}

.slide .btn{
    display: block;
    width: 240px;
    height: 50px;
	padding-bottom: 16px;
	padding-top: 17px;
    margin-top: 38px;
    font-size: 16px;
	line-height: 18px;
	font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
	box-sizing: border-box;
}

.slide:nth-child(1){
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: 415px 3px;
}

.slide:nth-child(2){
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: 415px 3px;
}

.slide:nth-child(3){
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat: no-repeat;
    background-position: 415px 0px;
}

.slide{
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
/*  */

.container {
	width: 100%;
	min-width: 1200px;
}

.advantages {
	position: relative;
	width: 1160px;
	display: flex;
	margin: 0 auto;
	margin-top: 80px;
}

.advantages::after {
	position: absolute;
	content: "";
	width: 1160px;
	height: 2px;
	left: 0px;
	bottom: -84px;
	background-color: #eee;
}

.advantages1 {
	padding-right: 100px;
}

.advantages2 {
	padding-right: 100px;
}

.studio {
	position: relative;
	display: flex;
	width: 1160px;
	margin: 0 auto;
	margin-top: 80px;
	padding-top: 42px;
}

.studio::after {
	position: absolute;
	content: "";
	width: 1160px;
	height: 2px;
	left: 0;
	bottom: -45px;
	background-color: #eee;
}

.colomn1 {
	padding-top: 5px;
	width: 650px;
}

.colomn2 {
	margin-left: 150px;	
}

.logo-studio {
	width: 360px;
	height: 210px;
}

.title-studio {
	margin-top: 30px;
	min-width: 670px;
	margin-bottom: 32px;
}

.description-studio {
	padding-bottom: 22px;
}

.items-studio li {
	position: relative;
	list-style-type: none;
	padding-top: 8px;
	margin-left: -5px;
	padding-bottom: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: 400;
}

.items-studio li::before {
	position: absolute;
	content: "";
	width: 24px;
	height: 2px;
	left: -35px;
	bottom: 26px;
	background-color: red;
}

.table {
	display: flex;
	width: 360px;
	color: #283136;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.level {
	width: 100px;
	padding-right: 20px;
}

.terms {
	width: 100px;
	padding-right: 18px;
}

.prepayment {
	width: 100px;
}

.index {
	display: block;
 	font-size: 45px;
    line-height: 45px;
	font-weight:bold;
	color: #000;
	margin-bottom: 18px;
}

.index sup {
	font-size: 27px;
}

.title-logo-studio {
    margin-top: 20px;
	padding-bottom: 17px;
}

.container-logo {
	position: relative;
	display: flex;
	width: 1160px;
	margin: 0 auto;
	margin-top: 90px;
	align-items: center;
	margin-bottom: 31px;
}

.container-logo::after {
	position: absolute;
	content: "";
	width: 1160px;
	height: 2px;
	left: 0px;
	bottom: -41px;
	background-color: #eee;
}

.container-logo a:nth-child(1) {
	margin-top: 7px;
	margin-right: 99px; 
	opacity: 0.2;
	padding-left: 30px;
}

.container-logo a:nth-child(2) {
	margin-right: 101px;
	opacity: 0.2;
}

.container-logo a:nth-child(3) {
	margin-right: 121px;
	opacity: 0.2;
}

.container-logo a:nth-child(4) {
	margin-top: 7px;
	opacity: 0.2;
}

.container-logo a {
    vertical-align: middle;
    display: inline-block;
}

.container-logo img:hover {
	opacity: 1;
}

.container-logo img:active {
	opacity: 0.2;
}

.logo1::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
	top: 19px;
	left: 280px;
}

.logo2::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
	top: 19px;
	left: 580px;
}

.logo3::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
	top: 19px;
	left: 880px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.navigation a:hover {
	color: #fb565a;
}

.navigation a:active {
	color: #000;
	opacity: 0.3;
}

.main-footer {
	width: 100%;
	min-width: 1200px;
}

.footer {
	width: 1160px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 80px;
	margin-top: 41px;
}

.footer-social {
	display: flex;
	width: 300px;
	align-items: center;
	padding-top: 17px;
}

.vkontakte {
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50px;
	margin-right: 13px;
	background-image: url("../img/vk-icon.png");
	background-repeat: no-repeat;
	background-position: center;
}

.vkontakte:hover {
	background-color: #e74246;
}

.vkontakte:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.facebook {
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50px;
	margin-right: 13px;
	background-image: url("../img/fb-icon.png");
	background-repeat: no-repeat;
	background-position: center;
}

.facebook:hover {
	background-color: #e74246;
}

.facebook:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.instagram {
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50px;
	background-image: url("../img/insta-icon.png");
	background-repeat: no-repeat;
	background-position: center;
}

.instagram:hover {
	background-color: #e74246;
}

.instagram:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.title-footer {
	width: 600px;
	margin-left: 99px;
}

.sale {
	display: block;
	margin-top: -20px;
	color: #444;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.map {
	width: 100%;
	min-width: 1200px;
	margin-top: 88px;
}

.address-spacer {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}

.address {
	position: absolute;
	left: 0px;
	top: 141px;
	padding-left: 50px;
	padding-top: 47px;
	padding-bottom: 54px;
	padding-right: 53px;
	background-color: white;
    width: 319px;
    height: 308px;
    box-sizing: border-box;
}

.button {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.title-address {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.address span {
	display: block;
	padding-top: 24px;
	color: #666666;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.address span + span {
	padding-top: 21px;
}

.details-slide {
	background-color: #fb565a;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 55px;
	padding-right: 55px;
}

.btn:hover {
	background-color: #e74246; 
}

.btn:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.order-site {
	box-sizing: border-box;
	width: 160px;
	height: 50px;
	margin-top: 16px;
	background-color: #fb565a;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 40px;
	padding-right: 40px;
}

.order-site:hover {
	background-color: #e74246;
}

.order-site:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.order-apps {
	box-sizing: border-box;
	width: 160px;
	height: 50px;
	margin-top: 16px;
	background-color: #00ca74;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 40px;
	padding-right: 40px;
}

.order-apps:hover {
	background-color: #00bc6c;
}

.order-apps:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.order-presentations {
	box-sizing: border-box;
	width: 160px;
	height: 50px;
	margin-top: 16px;
	background-color: #efc84a;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 40px;
	padding-right: 40px;
}

.order-presentations:hover {
	background-color: #eab534;
}

.order-presentations:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

.write-us {
	background-color: #fb565a;
	width: 219px;
	height: 50px;
	margin-top: 39px;
	padding-top: 14px;
	padding-bottom: 15px;
	padding-left: 43px;
	padding-right: 43px;
	box-sizing: border-box;
}

/* Сетка каталога */
.shop-header {
	width: 100%;
	min-width: 1200px;
	background-color: #eee;
}

.title-shop {
	text-align: center;
	padding-bottom: 105px;
	padding-top: 36px;
}

.container-shop {
	width: 100%;
	min-width: 1200px;
}

.title-sorting {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	padding-top: 20px;
}

.template-sedona {
	position: relative;
	width: 360px;
	height: 576px;
    padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
}

.browser {
	display: inline-block;
	margin-left: 15px;
	padding-top: 0px;
	margin-top: 0px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: top;
}

.browser + span {
	display: inline-block;
	margin-left: 4px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: top;
}

.browser + span + span {
	display: inline-block;
	margin-left: 4px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: top;
}

.template-sedona:hover {
    background-color: #4d4d4d;
}

.template-sedona:hover .block-template {
    display:block;
}

.template-pink-app {
	position: relative;
	width: 360px;
	height: 576px;
	padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
}

.template-pink-app:hover {
	background-color: #4d4d4d;
}

.template-pink-app:hover .block-template {
    display:block;
}

.template-barbershop {
	position: relative;
	width: 360px;
	height: 576px;
	padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
}

.template-barbershop:hover {
	background-color: #4d4d4d;
}

.template-barbershop:hover .block-template {
    display:block;
}

.template-mishka {
	position: relative;
	width: 360px;
	height: 576px;
	padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
}

.template-mishka:hover {
	background-color: #4d4d4d;
}

.template-mishka:hover .block-template {
    display:block;
}

.template-a-plus {
	position: relative;
	width: 360px;
	height: 576px;
	padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
}

.template-a-plus:hover {
	background-color: #4d4d4d;
}

.template-a-plus:hover .block-template {
    display:block;
}

.template-kwast {
	position: relative;
	width: 360px;
	height: 576px;
	padding-top: 15px;
    background-color: #e9e9e9;
	border-radius: 3px;
}

.template-kwast:hover {
	background-color: #4d4d4d;
}

.template-kwast:hover .block-template {
    display:block;
}

.block-template {
	position: absolute;
	width: 361px;
	height: 231px;
	top: 385px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #eeeeee;
	display: none;
	text-align: center;
}

.description-template {
	display: block;
	width: 245px;
	margin: 0 auto;
	color: #666666;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.price-template {
	display: block;
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	padding-top: 13px;
	background-color: #fb565a;
	border-radius: 3px;
	color: white;
	margin: 0 auto;
	margin-top: 32px;
	text-transform: uppercase;
}

.price-template:hover {
	background-color: #e74246;
}

.price-template:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.paginator {
	display: inline-block;
	color: #000000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	margin-left: 429px;
}

.number1 {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 27px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: 3px solid #dbdbdb;
	border-radius: 3px;
}

.number1:hover {
	background-color: #dfdfdf;
}

.number1:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.number2 {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 27px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.number2:hover {
	background-color: #dfdfdf;
}

.number2:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.number3 {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 27px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.number3:hover {
	background-color: #dfdfdf;
}

.number3:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.the-next {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 27px;
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.the-next:hover {
	background-color: #dfdfdf;
}

.the-next:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}

.left-column {
	float: left;
	width: 280px;
	margin-right: 140px;
	margin-left: 10px;
}

.left-column fieldset {
	border-color:  transparent;
}

.title-cost-of {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 20px;
}

.grid {
	position: relative;
}

.title-grid {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 42px;
	
}

.adaptive, 
.fixed, 
.rubber {
	display: none;
}

.adaptive + label {
	display: block;
	position: relative;
	margin-left: 33px;
	margin-top: 10px;
}

.fixed + label {
	display: block;
	position: relative;
	margin-left: 33px;
	margin-top: -8px;
}

.rubber + label {
	display: block;
	position: relative;
	margin-left: 33px;
	margin-top: -7px;
}

.adaptive + label::before {
	position: absolute;
	top: -3px;
	left: -34px;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.png);
	opacity: 0.2;
	
}

.fixed + label::before,
.rubber + label::before {
	position: absolute;
	top: -3px;
	left: -34px;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.png);
	opacity: 0.2;
}

.title-features {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 31px;
}

.spacer-shop {
	width: 1200px;
	margin: 0 auto;
}

.sorting {
	display: inline-block;
	padding-top: 10px;
	width: 760px;
	margin-left: -8px;
	margin-bottom: 47px;
	
}

.item-sorting {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 0px;
	margin-left: 258px;
	color: #000000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.sorting li {
	display: inline-block;
	margin-right: 24px;
}

.template {
	display: flex;
	width: 760px;
	flex-wrap: wrap;
}

.social {
	display: none;
}

.template > div {
	width: 360px;
	margin-bottom: 80px; 
}

.template > div:nth-child(odd) {
	margin-right: 38px;
}

/*Выслывающая форма*/
.modal-content {
	position: absolute;
	top: 1706px;
  	left: 50%;
	margin-left: -485px;
	width: 960px;
	height: 590px; 
	background: #fff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.content {
	width: 760px;
	height: 440px;
	margin: 0 auto;
	margin-top: 73px;
}

input[placeholder] {
	opacity: 0.5;
	color: #444;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	box-sizing: border-box;
	padding-left: 15px;
}

input[placeholder]:invalid {
	color: #e74246;
}

textarea[placeholder] {
	opacity: 0.5;
	color: #444;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	box-sizing: border-box;
	padding-left: 15px;
	padding-top: 14px;
}

.block-name {
	display: inline-block;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.name {
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	background-color: #ffffff;
	border-radius: 3px;
}

.name:hover {
	border: 2px solid #b4b9bb;
	background-color: #ffffff;
}

.name:focus {
	border: 2px solid #000000;
	background-color: #ffffff;
}

.name:invalid {
	border: 2px solid #e74246;
	background-color: #ffffff;
}

.block-email {
	display: inline-block;
	margin-left: 36px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.email {
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	background-color: #ffffff;
	border-radius: 3px;
}

.email:hover {
	border: 2px solid #b4b9bb;
	background-color: #ffffff;
}

.email:focus {
	border: 2px solid #000000;
	background-color: #ffffff;
}

.email:invalid {
	border: 2px solid #e74246;
	background-color: #ffffff;
}

.text {
	display: block;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.content-text {
	width: 760px;
	height: 118px;
	border: 2px solid #d7dcde;
	background-color: #ffffff;
	border-radius: 3px;
	resize: none;
}

.content-text:hover {
	border: 2px solid #b4b9bb;
	background-color: #ffffff;
}

.context-text:focus {
	border: 2px solid #000000;
	background-color: #ffffff;
}

.context-text:invalid {
	border: 2px solid #e74246;
	background-color: #ffffff;
}

.btn-to-send {
	box-sizing: border-box;
	width: 260px;
	height: 50px;
	margin-top: 16px;
	color: #fff;
	background-color: #fb565a;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 40px;
	padding-right: 40px;
	text-transform: uppercase;
	border-radius: 3px;
}

.btn-to-send {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.modal-content-title {
	color: #000;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.modal-content-close {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 22px;
	height: 22px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	opacity: 0.3;
	background-color: #fff;	
}

.modal-content-close:hover {
	opacity: 1;
}

.modal-content-close:active {
	opacity: 0.1;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: red;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content {
	display: none;
}

/*Сложный фильтр в Нёрдс*/
.range-filter {
  	width: 260px;
}

.range-controls {
	position: relative;
  	height: 41px;
  	padding-top: 39px;
	padding-right: 20px;
  	padding-left: 20px;
  	margin-bottom: 15px;
	margin-top: 43px;
  	border-radius: 5px;
  	background: #f1f1f1;
}

.range-controls .scale {
  	height: 2px;
  	background: #d7dcde;
}

.range-controls .bar {
  	width: 70%;
  	height: 2px;
  	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  	top: 30px;
  	left: 0px;
  	width: 4px;
  	height: 4px;
	cursor: pointer;
  	border: 8px solid #fff; 
  	border-radius: 50%;
  	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  	left: 18px;
}

.range-controls .toggle-max {
  	left: 158px;
}

.price-controls {
  	font-size: 0;
}

.price-controls label {
	font-size: 16px;
 	display: inline-block;
	width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  	font-family: 'Roboto', 'Arial', sans-serif;
  	font-size: 16px;
	width: 60px;
	margin-left: 10px;
  	padding: 8px 10px;
  	text-align: center;
  	color: #283136;
	border: none;
  	border-radius: 5px;
  	background: #f1f1f1;
}