body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}

.title-slide {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.title-advantages {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
}

.title-template {
 	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;			
}

.title-footer-social {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.title-logo-studio {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
.title-shop {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

/* Сетка главной страницы */
.main-header {
	width: 100%;
	min-height: 545px;
	background-color: #eee;
}
.main-container {
	width: 1160px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px
}
.main-navigation {
	width: 960px;
	display: inline-block;
}
.index-logo {
	width: 160px;
	display: inline-block;
	margin-top: 50px;
}
.navigation {
	display: inline-block;
	vertical-align: top;
	padding-left: 200px;
	margin-top: 80px;
}
.navigation li {
	display: inline-block;
	vertical-align: top;
	padding-right: 47px;	
}
.block-basket {
	width: 160px;
	float: right;
	margin-top: 80px;
}
.slide2, .slide3 {
	display: none;
}
.container-slide {
	width: 1160px;
	display: flex;
	margin: 0 auto;
}
.slide1 {
	padding-top: 30px; 
}
.picture-slide {
	padding-top: 8px;
}
}
.container {
	width: 100%;
}
.advantages {
	width: 1160px;
	display: flex;
	margin: 0 auto;
	margin-top: 80px
}
.advantages1 {
	padding-right: 100px;
}
.advantages2 {
	padding-right: 100px;
}
.studio {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}
.colomn1 {
	padding-top: 155px;
	width: 630px
}
.colomn2 {
	padding-top: 135px;
}
.items-studio li {
	padding-top: 37px
}
.table {
	display: flex;
	width: 360px;
}
.level {
	width: 100px;
	padding-right: 25px;
}
.terms {
	width: 100px;
	padding-right: 25px;
}
.prepayment {
	width: 100px;
}
.index {
 	font-size: 45px;
	font-weight:bold;
	color: #000;
}
.title-logo-studio {
	padding-bottom: 25px
}
.container-logo {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	margin-top: 120px;
	align-items: center;
}
.container-logo img:nth-child(1) {
	width: 200px;
	margin-right: 100px;
	
}
.container-logo img:nth-child(2) {
	width: 210px;
	margin-right: 100px;
}
.container-logo img:nth-child(3) {
	width: 185px;
	margin-right: 100px;
}
.container-logo img:nth-child(4) {
	width: 175px;
	margin-right: 100px;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}
.main-footer {
	width: 100%;
}
/* Не разобрался */
.footer {
	width: 1160px;
	display: flex;
	margin: 0 auto;
}
.footer-social {
	display: flex;
	width: 300px;
	align-items: center;
}
.title-footer {
	width: 600px;
	margin-left: 145px;
}
.map {
	width: 100%;
}
.address-spacer {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}
.address {
	position: absolute;
	margin-top: 55px;
}



/* Сетка каталога */
.shop-header {
	width: 100%;
	min-height: 355px;
	background-color: #eee;
}
.title {
	width: 1160px;
}
.title-shop {
	width: 840px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}
.container-shop {
	width: 100%;
}
.left-column {
	float: left;
	width: 260px;
	margin-right: 140px;
}
.spacer-shop {
	width: 1160px;
	margin: 0 auto;
}
.sorting {
	width: 760px;
	display: inline-block;
}
.item-sorting {
	display: inline-block;
}
.sorting li {
	display: inline-block;
}
.template {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
}
.paginator {
	display: inline-block;
}
.paginator a {
	display: inline-block;
}
