.main-header {
	width: 1440px;
	height: 550px;
	background: aquamarine; 
}

.container {
	width: 1165px;
	min-height: 95px;
	background: #FAE7B5;
	margin: 0 auto;
}

.index-logo {
	width: 165px;
	min-height: 95px;
	background: #9966CC;
	float: left;
}

.main-navigation {
	width: 605px;
	min-height: 95px;
	background: #79553D;
	float: left;
	margin-left: 200px; 
}

.block-basket {
	width: 165px;
	min-height: 95px;
	background: #77DDE7;
	float: right;
}

.clearfix::after {
  	content: "";
  	display: table;
 	clear: both;
}

.slider {
	width: 1165px;
	min-height: 415px;
	background: #9966CC;
	margin: 0 auto;
	margin-top: 40px;
}

.main-container {
	width: 1440px;
	min-height: 1720px;
	background: #9ACEEB;
}

.advantages {
	width: 1165px;
	min-height: 510px;
	margin: 0 auto;
	background: #42AAFF;
}

.advantages1 {
	width: 305px;
	min-height: 350px;
	float: left;
	margin-top: 85px;
	background: #FFDB58;
}

.advantages2 {
	width: 305px;
	min-height: 350px;
	float: left;
	margin-top: 85px;
	margin-left: 105px;
	background: #FFDB58;
}

.advantages3 {
	width: 305px;
	min-height: 350px;
	float: right;
	margin-top: 85px;
	margin-right: 65px;
	background: #FFDB58;
}

.studio {
	width: 1165px;
	min-height: 530px;
	background: #FC6C85;
	margin: 0 auto;
}

.column1 {
	width: 665px;
	min-height: 425px;
	float: left;
	background: #9ACD32;
	margin-top: 45px;
}

.column2 {
	width: 405px;
	min-height: 425px;
	float: right;
	background: #9ACD32;
	margin-top: 45px;
}

.contacts {
	width: 1440px;
	min-height: 500px; 
	background: #FFE4B2;
}

.write-to-us {
	width: 325px;
	min-height: 315px;
	margin-left: 145px;
	background: #826C34;
	float: left;
	margin-top: 140px; 
}

.main-footer {
	width: 1440px;
	min-height: 220px;
	background: #29AB87;
}

.footer-social {
	width: 265px;
	min-height: 85px;
	float: left;
	background: #4B0082;
	margin-left: 145px;
	margin-top: 75px;
}

.title-footer {
	width: 565px;
	min-height: 85px;
	float: left;
	background: #4B0082;
	margin-left: 145px;
	margin-top: 75px;
}